#modal-editar-informacoes{
  width: min(calc(100% - 2rem), 55%);
  border-radius: 2.5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

#modal-editar-informacoes::backdrop{
  background-color: rgba(0, 0, 0, 0.5);
}

#modal-editar-informacoes .modal-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.group{
  margin-top: 0.90rem;
}

.group h4{
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.form-group{
  /* margin-top: 1rem; */
  /* margin-right: 0.25rem; */
  display: inline-block;
}

.form-group.group-check{
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group label{
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.form-group.group-check label{
  display: inline;
  padding-top: 0;
  margin-top: 0;
  margin-left: 0.25rem;
  font-weight: normal;
}

.form-group input{
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 0.35rem;
  margin-top: 0.25rem;
  border-radius: 3px;
}

.form-group.group-check :where(input[type=checkbox], input[type=radio]){
  margin: 0;
  border: initial;
}

button[type=submit]{
  width: 100%;
  cursor: pointer;
  outline: none;
  padding: 0.5rem;
  outline: none !important;
  border: 1px solid #CCC;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: background ease-in-out 0.3s;
  display: inline;
  transition: ease-in-out background 300ms;
}

button[type=submit]:is(:focus, :hover){
  background-color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.2);
}